body{
    background-color:lightyellow;
    margin: 0px;
	margin-top: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: darkblue;
}

.active {
  background-color: gold;
    color: black;
}

#analysis{
    max-width: 26em;
    margin: auto;
    padding:.5em;
    background-color:gold;
    border: 3px solid blue;
    border-radius: 1em;
}

button{
    background-color: blue;
    border:none;
    border-radius: .3em;
    color: white;
    padding: .1em 1em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    margin: auto;
    
}

h4{
    text-align: center;
    margin-top: .75em;
    margin-bottom: .75em;
}

select{
    margin: 0 auto;
    width: 15em;
    margin: .2em;
}

h3{
    text-align: center;
    margin: auto;
    margin-top: 15px;
    
}