<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
</head>
<body>
    <button onclick="location.href='index.html'" href="index.html">Planning an Event</button>
    <div id='analysis'>
        <h4>Select 5 Categories</h4>
        <select id='tag1'>
            <Option value='Film'>Film</Option>
            <Option value='B'>B</Option>
            <Option value='C'>C</Option>
            <Option value='D'>D</Option>
        </select>
        <select id='tag2'>
            <Option value='Comps'>Comps</Option>
            <Option value='B'>B</Option>
            <Option value='C'>C</Option>
            <Option value='D'>D</Option>
        </select>
        <select id='tag3'>
            <Option value='A'>A</Option>
            <Option value='B'>B</Option>
            <Option value='C'>C</Option>
            <Option value='D'>D</Option>
        </select>
        <select id='tag4'>
            <Option value='A'>A</Option>
            <Option value='B'>B</Option>
            <Option value='C'>C</Option>
            <Option value='D'>D</Option>
        </select>
        <select id='tag5'>
            <Option value='A'>A</Option>
            <Option value='B'>B</Option>
            <Option value='C'>C</Option>
            <Option value='D'>D</Option>
        </select>
        <button onclick="submitTags()">Submit</button>
    </div>
    <h3>Number of events per week this term</h3>
    <canvas id='graph' width='80' hight='40'></canvas>
	<p id='lee'> </p>
</body>
<script>
     
     function showCalender() {
		var button = document.getElementById("calendar");
		button.style.display = 'block';
     }
	
	 var allData = {{all_data|tojson}};
	 
	 function makeDataAprilJune(categories) {
		 dates = [
			new Date(2019, 03, 01, 0,0,0,0),
			new Date(2019, 03, 08, 0,0,0,0),
			new Date(2019, 03, 15, 0,0,0,0),
			new Date(2019, 03, 22, 0,0,0,0),
			new Date(2019, 03, 29, 0,0,0,0),
			new Date(2019, 04, 06, 0,0,0,0),
			new Date(2019, 04, 13, 0,0,0,0),
			new Date(2019, 04, 20, 0,0,0,0),
			new Date(2019, 04, 27, 0,0,0,0),
			new Date(2019, 05, 03, 0,0,0,0),
			new Date(2019, 05, 10, 0,0,0,0)
		 ]

		category_data = {};
		for (i=0; i<categories.length; i++){
			category_data[categories[i]] = new Array(10).fill(0)
		}
		
		for(i=0;i<allData.length;i++){
			cur_event = allData[i];
			for(j=0;j<categories.length;j++){
				if (cur_event["categories"].includes(categories[j])){
					
					for (k=0;k<dates.length-1;k++){
						var cur_event_date = new Date(cur_event["start_time"]);
						
						if (cur_event_date >= dates[k] && cur_event_date < dates[k+1]){
							category_data[categories[j]][k] += 1;
						}
					}
					
					
				}
			}
		}
		
		return category_data;
	 }
	 
     function submitTags(){
     var tag1 = document.getElementById("tag1").options[document.getElementById("tag1").selectedIndex].value;
     var tag2 = document.getElementById("tag2").options[document.getElementById("tag2").selectedIndex].value;
     var tag3 = document.getElementById("tag3").options[document.getElementById("tag3").selectedIndex].value;
     var tag4 = document.getElementById("tag4").options[document.getElementById("tag4").selectedIndex].value;
     var tag5 = document.getElementById("tag5").options[document.getElementById("tag5").selectedIndex].value;
	 
	 var categories = [tag1, tag2, tag3, tag4, tag5];
	 var final_data = makeDataAprilJune(categories);
	 
     var ctx = document.getElementById('graph').getContext('2d');
     var AreaChart = new Chart(ctx, {
     type: 'line',
     data: {
     labels: ['Week 1','Week 2','Week 3','Week 4','Week 5','Week 6','Week 7','Week 8','Week 9','Week 10'],
     datasets: [{
     label: tag1,
     data: final_data[categories[0]],
     backgroundColor: ['rgba(255, 99, 132, 0.2)',],
     borderColor: ['rgba(255, 99, 132, 1)',],
     borderWidth: 1
     },{
     label: tag2,
     data: final_data[categories[1]],
     backgroundColor: ['rgba(255, 99, 132, 0.2)',],
     borderColor: ['rgba(255, 99, 132, 1)',],
     borderWidth: 1
     },{
     label: tag3,
     data: final_data[categories[2]],
     backgroundColor: ['rgba(255, 99, 132, 0.2)',],
     borderColor: ['rgba(255, 99, 132, 1)',],
     borderWidth: 1
     },{
     label: tag4,
     data: final_data[categories[3]],
     backgroundColor: ['rgba(255, 99, 132, 0.2)',],
     borderColor: ['rgba(255, 99, 132, 1)',],
     borderWidth: 1
     },{
     label: tag5,
     data: final_data[categories[4]],
     backgroundColor: ['rgba(255, 99, 132, 0.2)',],
     borderColor: ['rgba(255, 99, 132, 1)',],
     borderWidth: 1
     }]
     },
     options: {
     scales: {
     yAxes: [{
     ticks: {
     beginAtZero: true
     }
     }]
     }
     }
     });
     }

</script>
</html>