<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
</head>
<body>
    <ul>
        <li class="active"><a href="/">Plan an Event</a></li>
        <li><a href="/graph">Analysis</a></li>
    </ul>

    <h3>This graph displays the number of events taking place today at Carleton College.
    Please use it to plan your event so that it does not clash with multiple other events.</h3>
    <canvas id="calendar" width="80" height="40"></canvas>
</body>

<script>	
    var zero = []
    var one = []
    var two = []
    var three = []
    var four = []
    var five = []
    var six = []
    var seven = []
    var eight = []
    var nine = []
    var ten = []
    var eleven = []
    var twelve = []
    var thirteen = []
    var fourteen = []
    var fifteen = []
    var sixteen = []
    var seventeen = []
    var eighteen = []
    var nineteen = []
    var twenty = []
    var twentyone = []
    var twentytwo = []
    var twentythree = []

    var buckets = {
        "0": zero,
        "1": one,
        "2": two,
        "3": three,
        "4": four,
        "5": five,
        "6": six,
        "7": seven,
        "8": eight,
        "9": nine,
        "10": ten,
        "11": eleven,
        "12": twelve,
        "13": thirteen,
        "14": fourteen,
        "15": fifteen,
        "16": sixteen,
        "17": seventeen,
        "18": eighteen,
        "19": nineteen,
        "20": twenty,
        "21": twentyone,
        "22": twentytwo,
        "23": twentythree,
    }

    function showAnalysis() {
        var button = document.getElementById("calendar");
        button.style.display = 'none';
    }
    function showCalender() {
        var button = document.getElementById("calendar");
        button.style.display = 'block';
    }

    var data = {{all_data|tojson}};
    
    for (i in data) {
        var current = data[i]
        var start_time = new Date(current['start_time'])
        var end_time = new Date(current['end_time'])
        for (var j = start_time.getHours(); j <= end_time.getHours(); j++) {
            buckets[j+""].push(current)
        }
    }

    var eventFrequency = []
    for (i in buckets) {
        eventFrequency.push(buckets[i].length)
    }

    function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
    }

    var backgroundColors = []
    var borderColors = []
    for (i in buckets) {
        var red = getRandomInt(255)
        var green = getRandomInt(255)
        var blue = getRandomInt(255)
        var color_value = `rgba(${red},${green},${blue},0.2`
        backgroundColors.push(color_value)
    }

    for (i in buckets) {
        var red = getRandomInt(255)
        var green = getRandomInt(255)
        var blue = getRandomInt(255)
        var color_value = `rgba(${red},${green},${blue},1`
        borderColors.push(color_value)
    }

    var ctx = document.getElementById('calendar').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: 
                ['12AM', '1AM', '2AM', '3AM', '4AM', '5AM', '6AM', '7AM', '8AM',
                '9AM', '10AM', '11AM', '12PM', '1PM','2PM', '3PM', '4PM', '5PM', '6PM', '7PM', '8PM',
                '9PM', '10PM', '11PM'],
            datasets: [{
                label: '# of Events in the Day',
                data: eventFrequency,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
</html>
